<div class="form-container">
  <div class="info-row">
    <h1>About Us</h1>
    <h3>What is ALPACA?</h3>
      <p>Alpaca is the platform that lets you rent out your belongings to others nearby. Everyday, we connect people who need things, with others in their neighborhood that have it to lend.</p>
      <p>We believe in getting people to work together to make the world a more efficient place for everyone. So we’re making it quick and easy for people to share their belongings. Our dream is a platform where all goods - from the everyday to the abstract - can be borrowed within minutes.</p>
      <p>Why? Because we know that sharing is the future, we know that having experiences is more important than owning stuff. And we think borrowing specialised items should be quick, reliable and convenient.</p>
 </div>
</div>
