<div class="form-container">
  <div class="info-row">
    <h1>Frequently asked questions</h1>
    <p><strong>What's my name?</strong></p>
      <p>
        ...retard
      </p>
    <p><strong>How does the app work?</strong></p>
      <p>
        If you can't figure it out by yourself, turn off your phone, go out and jump from the first bridge you'll find. The world will be a better place without you.
      </p>
    <p><strong>What is gonna happen if I click on "rent item"?</strong></p>
      <p>I'll do your mom</p>
 </div>
 <%= link_to "Back", root_path, class: "btn btn-warning" %>
</div>
