<div>
  <div class="header-home">
    <div class="banner-content">
      <div class="added-div">
        <div class="title">
          <h1>Rent</h1>
          <h1>almost</h1>
          <h1>anything.</h1>
        </div>
        <!-- <img src="method-draw-image.svg" /> -->
        <%= image_tag("method-draw-image.svg", id: "logo")%>
      </div>



      <div id="subtitle"><h3>What do you need to rent?</h3></div>
      <div class="search-container">
        <form method="get" action="/items">
          <input type="text" type="search" placeholder="Search.." name="q">
          <input type="date" placeholder="Start date" class="datepicker" name="sd">
          <input type="date" placeholder="End date" class="datepicker" name="ed">

          <!-- <a class="btn btn-warning btn-lg" href="/items">Search</a> -->
          <button type="submit" class="button-warning">Search</button>
        </form>
      </div>
    </div>

</div>
    <div id="underbanner">
      <img src="https://assets.fatllama.com/static/img/rebrand-assets/fluff/fluff-01-19.svg">
    </div>
