<div>
  <div class="header-home">
    <div class="banner-content">
      <div class="title">
        <h1>Rent</h1>
        <h1>almost</h1>
        <h1>anything.</h1>
      </div>
      <p>What do you need to rent?</p>
      <div class="search-container">
        <form method="get" action="/items">
          <input type="text" type="search" placeholder="Search.." name="q">
          <input type="date" placeholder="Start date" class="datepicker" name="search">
          <input type="date" placeholder="End date" class="datepicker" name="search">

          <a class="btn btn-warning btn-lg" href="/items">Search</a>

          <!-- <button type="submit"><i class="fa fa-search"></i></button> -->


        </form>
      </div>
    </div>
  </header>
</div>
