<div>
  <header>
    <div class="banner-content">
      <h1>Rent almost anything.</h1>
      <p>What do you need to rent?</p>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <input type="date" placeholder="Start date" class="datepicker" name="search">
            <input type="date" placeholder="End date" class="datepicker" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
    </div>
  </header>
</div>







