<div class="form-container-success">
<h1>The deal has been successfully created</h1>
<p class="rent-link">
<%= link_to "Back to Items", items_path, class: "btn btn-warning" %>
<%= link_to "Your Deals", deals_path, class: "btn btn-warning" %>
 </p>
</div>
