
<h2>Displays all the items (except of the items of the current user)</h2>
<div class="wrapper">
  <% @items.each do |item| %>
      <div class="product-card">
        <% unless item.user == current_user %>
         <!-- <p><#%= link_to item.name, item_path(item) %></p> -->
         <%= render 'shared/product_card', item: item %>
      <% end %>
    </div>
  <% end %>
</div>




<!-- <div class="index_grid">
    <article class="product_card">
    <header class="card__header">
      <img class="card__header--thumb" src=""/>
      <section class="card__avatar">
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </section>
    </header>
    <section class="card__body">
      <h5 class="card__body--price"> <a href="#">$25/day</a></h5>
      <h1 class="card__body--title"> <a href="#">2018 MackBook Pro</a></h1>
      <h2 class="card__body--subtitle">Quad-core Intel Core i5, 16GB, 1TB</h2>
      <p class="card__body--description">
      Display:
      Retina display
      15.4-inch (diagonal) LED-backlit display with IPS technology; 2880-by-1800 native resolution at 220 pixels per inch with support for millions of colors
      Supported scaled resolutions:
      1920 by 1200
      1680 by 1050
      1280 by 800
      1024 by 640
      500 nits brightness
      </p>
    </section>
    <footer class="card__footer"><span class="icon icon--rating">Rating:</span>
      <div class="stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></div>
    </footer>
  </article>

  <article class="product_card">
    <header class="card__header">
      <img class="card__header--thumb" src=""/>
      <section class="card__avatar">
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </section>
    </header>
    <section class="card__body">
      <h5 class="card__body--price"> <a href="#">$25/day</a></h5>
      <h1 class="card__body--title"> <a href="#">2018 MackBook Pro</a></h1>
      <h2 class="card__body--subtitle">Quad-core Intel Core i5, 16GB, 1TB</h2>
      <p class="card__body--description">
      Display:
      Retina display
      15.4-inch (diagonal) LED-backlit display with IPS technology; 2880-by-1800 native resolution at 220 pixels per inch with support for millions of colors
      Supported scaled resolutions:
      1920 by 1200
      1680 by 1050
      1280 by 800
      1024 by 640
      500 nits brightness
      </p>
    </section>
    <footer class="card__footer"><span class="icon icon--rating">Rating:</span>
      <div class="stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></div>
    </footer>
  </article>
  <article class="product_card">
    <header class="card__header">
      <img class="card__header--thumb" src=""/>
      <section class="card__avatar">
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </section>
    </header>
    <section class="card__body">
      <h5 class="card__body--price"> <a href="#">$25/day</a></h5>
      <h1 class="card__body--title"> <a href="#">2018 MackBook Pro</a></h1>
      <h2 class="card__body--subtitle">Quad-core Intel Core i5, 16GB, 1TB</h2>
      <p class="card__body--description">
      Display:
      Retina display
      15.4-inch (diagonal) LED-backlit display with IPS technology; 2880-by-1800 native resolution at 220 pixels per inch with support for millions of colors
      Supported scaled resolutions:
      1920 by 1200
      1680 by 1050
      1280 by 800
      1024 by 640
      500 nits brightness
      </p>
    </section>
    <footer class="card__footer"><span class="icon icon--rating">Rating:</span>
      <div class="stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span></div>
    </footer>
  </article>
  <article class="product_card">
    <header class="card__header">
      <img class="card__header--thumb" src=""/>
      <section class="card__avatar">
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </section>
    </header>
    <section class="card__body">
      <h5 class="card__body--price"> <a href="#">$25/day</a></h5>
      <h1 class="card__body--title"> <a href="#">2018 MackBook Pro</a></h1>
      <h2 class="card__body--subtitle">Quad-core Intel Core i5, 16GB, 1TB</h2>
      <p class="card__body--description">
      Display:
      Retina display
      15.4-inch (diagonal) LED-backlit display with IPS technology; 2880-by-1800 native resolution at 220 pixels per inch with support for millions of colors
      Supported scaled resolutions:
      1920 by 1200
      1680 by 1050
      1280 by 800
      1024 by 640
      500 nits brightness
      </p>
    </section>
    <footer class="card__footer"><span class="icon icon--rating">Rating:</span>
      <div class="stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span></div>
    </footer>
  </article>
</div> -->

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

