<h2>Displays all the items (except of the items of the current user)</h2>
<% @items.each do |item|               %>
<%   unless item.user == current_user  %>
     <p><%= item.name %></p>
<%   end                               %>
<% end                                 %>
