
.header-home {
  box-sizing: border-box;
  min-height: 60vh;
  // padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  background-color: #2ccbbb;
}

.header-home h1 {
  // margin-top: -100px;
  font-size: 90px;
  font-weight: 1000;

  color: #030d54;
  // font-family: Mabry-Black,Helvetica,Arial;
  // font-size: 56px;
  letter-spacing: 3px;
  line-height: 60px;

}

.banner-content {
padding-top: 6rem;
padding-left: 11rem;
}


#subtitle {
  margin-top: 0;
}

.added-div {
  display: flex;
  justify-content: space-between;
}

#logo {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;

  // width: 50%;
  // margin-top: 10px;
  // margin-right: 10px;
  // margin-bottom: 10px;
  padding-right: 15rem;
  max-height: 40vh;
  max-width: 40vw;

}

// .search-container button {
//     padding: 6px 10px;
//     margin-top: 8px;
//     margin-right: 16px;
//     background: #EF7A6B;
//     font-size: 17px;
//     border: none;
// }

.button-warning {
  border-radius: 3px;
  background-color: #FDFB70 !important;
  margin-left: 1rem;
}

.search-container {
  border-radius: 3px;
}

.title-on-image {
  text-align: right;
  position: relative;
  top: -23vh;
  right: 9.8vw;
  // font-size: 3em;


  font-size: 90px;
  font-weight: 1000;
  color: #030d54;
  letter-spacing: 3px;
  line-height: 60px;


}









