

.culo {
  z-index: 0;
}

.header-home {
  box-sizing: border-box;
  min-height: 50vh;
  // padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  background-color: #2ccbbb;
  z-index: 2;
}

.header-home h1 {
  // margin-top: -100px;
  font-size: 90px;
  font-weight: 1000;

  color: #030d54;
  // font-family: Mabry-Black,Helvetica,Arial;
  // font-size: 56px;
  letter-spacing: 3px;
  line-height: 60px;
}

  // <div class="header-home">1
  //   <div class="banner-diag"></div>2
  //   <div class="banner-content">3
  //     <div class="added-div">4
  //       <div class="title">5
  //        <div class="search-container">6






.banner-content {
padding-top: 3vh;
padding-left: 10vw;
z-index: 3;
}


#subtitle {
  margin-top: 0;
}

.added-div {
  display: flex;
  justify-content: space-between;
  z-index: 4;

}

.added-div {
  z-index: 2;
}

#logo {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;

  // width: 50%;
  // margin-top: 10px;
  // margin-right: 10px;
  // margin-bottom: 10px;
  padding-right: 15rem;
  max-height: 40vh;
  max-width: 40vw;

}

// .search-container button {
//     padding: 6px 10px;
//     margin-top: 8px;
//     margin-right: 16px;
//     background: #EF7A6B;
//     font-size: 17px;
//     border: none;
// }

.button-warning {
  border-radius: 3px;
  background-color: #FDFB70 !important;
  margin-left: 1rem;
}

.search-container {
  border-radius: 3px;
  z-index: 6;

}

.title-on-image {
  text-align: right;
  position: relative;
  top: -23vh;
  right: 9.8vw;
  // font-size: 3em;


  font-size: 90px;
  font-weight: 1000;
  color: #030d54;
  letter-spacing: 3px;
  line-height: 60px;
}



.banner-container-diag {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  left: -5px;
  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    background-color: #FEFA85;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  &:before {
    content: "";
    display: block;
    height: 10px;
    width: 5px;
    background-color: #FEFA85;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.banner-diag {
  // width: 200px;
  // padding: 15px;
  // background-color: #FEFA85;
  // color: #fff;
  // text-align: center;
  // transform: rotate(-45deg) translate(-28%, -35%);
  // box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  // text-transform: uppercase;
  // text-shadow: 0 2px 2px rgba(0,0,0,0.4);

      /* width: 600px; */
    height: 100px;
    /* padding: 10px; */
    background-color: #FEFA85;
    /* color: #fff; */
    /* text-align: center; */
    -webkit-transform: rotate(-45deg) translate(-28%, -35%);
    transform: rotate(-25deg) translate(-70%, -300%);
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4); */
    z-index: -1;
    position: relative;
    left: 500px;
}









