.navbar-lewagon {
  justify-content: space-between;
  background: #2ccbbb;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .nav-item {
//   color: white;
// }

.nav-link {
  color: #030d54;
}

.navbar-light .navbar-nav .nav-link {
  color: #030d54;
}

.nav-item {
  color: #030d54;
  font-weight: bold;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 22px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
